body {
    
    background-image: url('background.avif'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:darkslategray;
}